body {
    background-color: #d7d7d7;
}

footer {
   /* margin-top: 700px;*/
    bottom: 0;
    position: absolute;
    background-color: indianred;
    text-align: center;
    left:0;
    right: 0;
    height: 35px;
}

.title {
    background-color: orchid;
    text-align: center;
}

.dice-container {
    background-color: #d7d7d7;
    height: 200px;
}

#dice-faces div {
   display: block;
    float: left;
}

#dice-one {
    border: 2px solid burlywood;
    height: 150px;
    width: 150px;
    margin-left: 100px;
    padding: 10px;
}

#dice-two {
    border: 2px solid burlywood;
    height: 150px;
    width: 150px;
    margin-left: 20px;
    padding: 10px;
}

#dice-one a {
    /*border: 2px solid black;*/
    background: #BADA55;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    display: block;
    float: left;
    height: 15px;
    width: 14px;
}

.col-lg-8.dice-container {
    margin: 9px;
}

span {
    margin: 20px;
}

#dice-one-pip-4 {
    border: 1px solid lightgray;
    border-radius: 20px;
    height: 35px;
    margin: 77px;
    width: 35px;
    background: darkseagreen;
}

.button-wrapper {
    background-color: silver;
    text-align: center;
}

#nav-bar {
    font-size: 24px;

}

#home {
    text-decoration: none;
    margin: 0;
    padding: 9px;
}
